AWS_PROFILE=aws_agora_presmanes

AWS_SAGEMAKER_ROLE_ARN=arn:aws:iam::<account>:role/SageMakerExecutionRole

AWS_S3_BUCKET=<bucket>


# ===== Training =====
# ECR
AWS_ECR_TRAINING_REPO_NAME=chronos-training
AWS_ECR_TRAINING_IMAGE_URI=<account>.dkr.ecr.<region>.amazonaws.com/chronos-training:latest

# S3 Paths 
BASE_MODEL_PATH=s3://<bucket>/models/base/chronos-bolt-tiny.tar.gz
TUNED_MODEL_PATH=s3://<bucket>/models/fine-tunned/chronos-bolt-tiny.tar.gz # Output path for fine-tunned model

# Data
TRAINING_DATA_PATH=s3://<bucket>/data/Turbine_Data.csv

TRAINING_LIMIT_TIME=10

# ===== Deployment =====
AWS_AWS_ECR_DEPLOYMENT_REPO_NAME=chronos-deployment
AWS_ECR_DEPLOYMENT_IMAGE_URI=<account>.dkr.ecr.<region>.amazonaws.com/chronos-deployment:latest

# SageMaker Endpoint
AWS_SAGEMAKER_ENDPOINT_NAME=chronos-endpoint-prod

# S3 Paths
PRODUCTION_MODEL_PATH=s3://<bucket>/models/fine-tunned/chronos-bolt-tiny.tar.gz
