AWS_PROFILE=default
AWS_SAGEMAKER_ROLE_ARN=<whatever>
AWS_SAGEMAKER_ENDPOINT_NAME=<whatever>
AWS_ECR_IMAGE_URI=<whatever>
ECR_REPO_NAME=<whatever>
AWS_S3_BUCKET=<whatever>

# Training
AWS_ECR_TRAINING_IMAGE_URI=296062581113.dkr.ecr.eu-west-1.amazonaws.com/chronos-training:latest

BASE_MODEL_PATH=<whatever>
TUNNED_MODEL_PATH=<whatever>
TRAINING_DATA_PATH=<whatever>

TRAINING_LIMIT_TIME=10

# Deployment
AWS_SAGEMAKER_ENDPOINT_NAME=<whatever>
AWS_ECR_DEPLOYMENT_IMAGE_URI=<whatever>
PRODUCTION_MODEL_PATH=<whatever>

ECR_DEPLOYMENT_REPO_NAME=chronos-deployment